<h1>Set Up Your Family</h1>


<p>The first thing you need to do after creating an account is set up your
family.  You need to create accounts for all your family members who you'd
like to use MegsTV.</p>

<%= render 'form' %>
