body {
    background-color: #000080;
    margin: 0px;
}

.container_12 {
    background-color: #000080;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 0 10px 0 10px;
}

#title h1 {
    color: #000;
}

#title a {
    text-decoration: none;
}

#body {
    padding-bottom: 40px;
    min-height: 600px;
}

#footer {
    position: relative;
    margin-top: -40px;
    height: 39px;
    clear: both;
    border-top: 1px black solid;
}

.white-background {
    background: white;
}

ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}


input.example {
  opacity: 0.5;
}

.time_log td {
    padding: 3px 10px 3px 10px;
}

.time_log .amount_cell {
    text-align: right;
}

.time_log .total_row td {
    border-top: 1px solid black;
    font-weight: bold;
}


